CLAWBOT_OWNER_PHONE=5492996209136
CLAWBOT_ALLOWED_PHONES=5492996209136
CLAWBOT_ALLOW_GROUPS=false
CLAWBOT_REQUIRE_PREFIX=false
CLAWBOT_COMMAND_PREFIX=
CLAWBOT_DRY_RUN=false
CLAWBOT_MODEL_PROVIDER=none
CLAWBOT_MODEL_NAME=local-commands
BITFLOW_DEMO_URL=https://bitflowapp.github.io/bitacora_web/?hard=20260311T194947Z-720ab27
