.dart_tool/
.packages
build/
.ios/
.android/
windows/
linux/
macos/
web/.dart_tool/
**/*.lock
**/.flutter-plugins*
**/.metadata
.venv/
.idea/

# Archivos grandes / backups
*.zip
proyecto_bitflow_*.zip

